/* Color Variables */
:root {
    --link-color: #415a77;
    --title-color: #778da9;
    --text-color:  #0d1b2a;
    /* --background-color: #fff; White */
  }

body {
    max-width: 1000px;
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
}

header, nav, section, footer {
    margin: 20px;
}

header {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    /* margin: 0 15px; */
}


a {
    text-decoration: none;
    color: var(--link-color); /* Brown */
    transition: border-bottom 0.3s;
    /* transition: color 0.3s; */
  }

  a:hover {
    color: var(--title-color); /* Orange */
}


ul {
    list-style-type: circle;
}

li {
    margin-bottom: 0.5em;
  }


  li::marker {
    color: var(--title-color);
  }

footer {
    margin-top: 40px;
    text-align: center;
}

.profile-img-container {
    text-align: center;
}

.profile-img-container img {
    max-width: 100px;
    margin-bottom: 10px;
}





  
  /* Body Styles */
  body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
  }
  
  /* Links */
  a {
    color: var(--link-color);
    text-decoration: none;
  }
  
  
  /* Titles */
  h1, h2, h3 {
    color: var(--title-color);
  }
  

  
  /* Paragraphs
  p {
    line-height: 1.6;
  } */
  
  /* Lists
  ul, ol {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  li {
    margin-bottom: 8px;
  }
   */